extends infographicBody
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                        span(aria-current="page") Report Izin
block append info
    if role == 1
        h2= 'Report Izin Semua Karyawan'
    if role == 2
        h2= 'Report Izin Karyawan ' + sql[0].nama
    if sql.length > 0
        .block
            .container2
                table#report
                    tr 
                        th Nama
                        th Tanggal 
                        th Alasan 
                        th Keterangan
                    for item in sql
                        tr 
                            td= item.nama
                            td=item.tgl_izin.getDate() + " " + item.tgl_izin.toLocaleString('default',{month: 'long'})+', '+ item.tgl_izin.getFullYear()
                            case item.alasan
                                when 1: td='Izin'
                                when 2: td='Sakit' 
                                when 3: td='Cuti' 
                            td=item.keterangan
    else 
        h2 Belum ada izin