extends ../layout
block content
    .block
        .container1
            .header
                h2 IST TEST
            .body
                form(action="ist_test" method='post' enctype='multipart/form-data')
                    div.hide(name='submit')
                        h1 Tolong Submit
                    #bagian1 
                        h1 bagian1
                        #s1.form-group
                            p='01. Pengaruh seseorang terhadap orang lain seharusnya bergantung pada ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. kekuasaan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. bujukan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. kekayaan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. keberanian
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. kewibawaan
                        #s2.form-group 
                            p='02. Lawannya “hemat” ialah .......'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. murah
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. kikir
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. boros
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. bernilai
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. kaya
                        #s3.form-group 
                            p='03. .... tidak termasuk cuaca'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. angin puyuh
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. halilintar
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. salju
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. gempa bumi
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. kabut
                        #s4.form-group 
                            p='04. Lawannya “setia” ialah .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. cinta
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. benci
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. persahabatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. khianat
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. permusuhan
                        #s5.form-group 
                            p='05. Seekor kuda selalu mempunyai .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. kandang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. ladam
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. pelana
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. kuku
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. surai
                        #s6.form-group
                            p='06. Seorang paman ..... lebih tua dari kemenakannya.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. biasanya
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. selalu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. tidak pernah
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. kadang-kadang
                        #s7.form-group 
                            p='07. Pada jumlah yang sama, nilai kalori yang tertinggi terdapat pada .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. ikan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. daging
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. lemak
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. tahu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. sayuran
                        #s8.form-group 
                            p='08. Pada suatu pertandingan selalu terdapat .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. lawan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. wasit
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. penonton
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. sorak
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. kemenangan
                        #s9.form-group 
                            p='09. Suatu pernyataan yang belum dipastikan dikatakan sebagai pernyataan yang ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. paradoks
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. tergesa-gesa
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. mempunyai arti rangkap
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. menyesatkan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. hipotesis
                            //- a)  b)  c)  d)  e) 
                        #s10.form-group 
                            p='10. Pada sepatu selalu terdapat .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. kulit
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. sol
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. tali sepatu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. gesper
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. lidah
                        #s11.form-group
                            p='11. Suatu ..... tidak menyangkut persoalan pencegahan kecelakaan.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. lampu lalu lintas
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. kacamata pelindung
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. kotak PPPK
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. tanda peringatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. palang kereta api
                        #s12.form-group 
                            p='12. Mata uang logam Rp 50,- tahun 1991, garis tengahnya ialah ..... mm.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. 17
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. 29
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. 25
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. 20
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. 15
                        #s13.form-group 
                            p='13. Seseorang yang bersikap menyangsikan setiap kemajuan ialah seorang yang ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. demokratis
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. radikal
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. liberal
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. konservatif
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. anarkis
                        #s14.form-group 
                            p='14. Lawannya “tidak pernah” ialah .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. sering
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. kadang-kadang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. kerap kali
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. selalu
                        #s15.form-group 
                            p='//- 15. Jarak antara Jakarta – Surabaya kira-kira ..... Km'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. 650
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. 1000
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. 800
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. 600
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. 950
                            //- a)  b)  c)  d)  e) 
                        #s16.form-group
                            p='16. Untuk dapat membuat nada yang rendah dan mendalam, kita memerlukan banyak ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. kekuatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. peranan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. ayunan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. berat
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. suara
                        #s17.form-group 
                            p='17. Ayah ..... lebih berpengalaman dari pada anaknya'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. selalu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. biasanya
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. jauh
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. pada dasarnya
                        #s18.form-group 
                            p='18. Diantara kota-kota berikut ini, maka kota ... letaknya paling selatan.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. Jakarta
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. Bandung
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. Cirebon
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. Semarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. Surabaya
                            //- a)  b)  c) 
                            //- d)  e) 
                        #s19.form-group 
                            p='19. Jika kita mengetahui jumlah presentase nomor-nomor lotere yang tidak menang, maka kita dapat menghitung ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. jumlah nomor yang menang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. pajak lotere
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. kemungkinan menang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. jumlah pengikut
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. tinggi keuntungan
                        #s20.form-group 
                            p='20. Seorang anak yang berumur 10 tahun tingginya rata-rata ..... cm'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. 150
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. 130
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. 110
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. 105
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. 115
                    #bagian2.hide
                        h1 bagian2 
                        #s1.form-group
                            p='01. Pengaruh seseorang terhadap orang lain seharusnya bergantung pada ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. kekuasaan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. bujukan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. kekayaan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. keberanian
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. kewibawaan
                        #s2.form-group 
                            p='02. Lawannya “hemat” ialah .......'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. murah
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. kikir
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. boros
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. bernilai
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. kaya
                        #s3.form-group 
                            p='03. .... tidak termasuk cuaca'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. angin puyuh
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. halilintar
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. salju
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. gempa bumi
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. kabut
                        #s4.form-group 
                            p='04. Lawannya “setia” ialah .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. cinta
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. benci
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. persahabatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. khianat
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. permusuhan
                        #s5.form-group 
                            p='05. Seekor kuda selalu mempunyai .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. kandang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. ladam
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. pelana
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. kuku
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. surai
                        #s6.form-group
                            p='06. Seorang paman ..... lebih tua dari kemenakannya.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. biasanya
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. selalu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. tidak pernah
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. kadang-kadang
                        #s7.form-group 
                            p='07. Pada jumlah yang sama, nilai kalori yang tertinggi terdapat pada .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. ikan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. daging
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. lemak
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. tahu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. sayuran
                        #s8.form-group 
                            p='08. Pada suatu pertandingan selalu terdapat .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. lawan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. wasit
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. penonton
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. sorak
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. kemenangan
                        #s9.form-group 
                            p='09. Suatu pernyataan yang belum dipastikan dikatakan sebagai pernyataan yang ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. paradoks
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. tergesa-gesa
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. mempunyai arti rangkap
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. menyesatkan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. hipotesis
                            //- a)  b)  c)  d)  e) 
                        #s10.form-group 
                            p='10. Pada sepatu selalu terdapat .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. kulit
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. sol
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. tali sepatu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. gesper
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. lidah
                        #s11.form-group
                            p='11. Suatu ..... tidak menyangkut persoalan pencegahan kecelakaan.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. lampu lalu lintas
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. kacamata pelindung
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. kotak PPPK
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. tanda peringatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. palang kereta api
                        #s12.form-group 
                            p='12. Mata uang logam Rp 50,- tahun 1991, garis tengahnya ialah ..... mm.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. 17
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. 29
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. 25
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. 20
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. 15
                        #s13.form-group 
                            p='13. Seseorang yang bersikap menyangsikan setiap kemajuan ialah seorang yang ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. demokratis
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. radikal
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. liberal
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. konservatif
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. anarkis
                        #s14.form-group 
                            p='14. Lawannya “tidak pernah” ialah .....'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. sering
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. kadang-kadang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. kerap kali
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. selalu
                        #s15.form-group 
                            p='15. Jarak antara Jakarta – Surabaya kira-kira ..... Km'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. 650
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. 1000
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. 800
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. 600
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. 950
                            //- a)  b)  c)  d)  e) 
                        #s16.form-group
                            p='16. Untuk dapat membuat nada yang rendah dan mendalam, kita memerlukan banyak ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s11(type="radio", name="s1" value='a')
                                    label(for="s11") a. kekuatan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s12(type="radio", name="s1" value='b')
                                    label(for="s12") b. peranan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s13(type="radio", name="s1" value='c')
                                    label(for="s13") c. ayunan
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s14(type="radio", name="s1" value='d')
                                    label(for="s14") d. berat
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s15(type="radio", name="s1" value='e')
                                    label(for="s15") e. suara
                        #s17.form-group 
                            p='17. Ayah ..... lebih berpengalaman dari pada anaknya'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s21(type="radio", name="s2" value='a')
                                    label(for="s21") a. selalu
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s22(type="radio", name="s2" value='b')
                                    label(for="s22") b. biasanya
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s23(type="radio", name="s2" value='c')
                                    label(for="s23") c. jauh
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s24(type="radio", name="s2" value='d')
                                    label(for="s24") d. jarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s25(type="radio", name="s2" value='e')
                                    label(for="s25") e. pada dasarnya
                        #s18.form-group 
                            p='18. Diantara kota-kota berikut ini, maka kota ... letaknya paling selatan.'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s31(type="radio", name="s3" value='a')
                                    label(for="s31") a. Jakarta
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s32(type="radio", name="s3" value='b')
                                    label(for="s32") b. Bandung
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s33(type="radio", name="s3" value='c')
                                    label(for="s33") c. Cirebon
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s34(type="radio", name="s3" value='d')
                                    label(for="s34") d. Semarang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s35(type="radio", name="s3" value='e')
                                    label(for="s35") e. Surabaya
                        #s19.form-group 
                            p='19. Jika kita mengetahui jumlah presentase nomor-nomor lotere yang tidak menang, maka kita dapat menghitung ...'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s41(type="radio", name="s4" value='a')
                                    label(for="s41") a. jumlah nomor yang menang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s42(type="radio", name="s4" value='b')
                                    label(for="s42") b. pajak lotere
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s43(type="radio", name="s4" value='c')
                                    label(for="s43") c. kemungkinan menang
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s44(type="radio", name="s4" value='d')
                                    label(for="s44") d. jumlah pengikut
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s45(type="radio", name="s4" value='e')
                                    label(for="s45") e. tinggi keuntungan
                        #s20.form-group 
                            p='20. Seorang anak yang berumur 10 tahun tingginya rata-rata ..... cm'
                            .form-group
                                div(style="display:flex; align-items: center; flex-direction:row;")
                                    input#s51(type="radio", name="s5" value='a')
                                    label(for="s51") a. 150
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s52(type="radio", name="s5" value='b')
                                    label(for="s52") b. 130
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s53(type="radio", name="s5" value='c')
                                    label(for="s53") c. 110
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s54(type="radio", name="s5" value='d')
                                    label(for="s54") d. 105
                            .form-group
                                div(style="display:flex; flex-direction:row;")
                                    input#s55(type="radio", name="s5" value='e')
                                    label(for="s55") e. 115
                    button#submit.hide(type='submit' name='submit') Submit
block script 
    script(src='/javascripts/ist_test.js')