extends ../infographicBody
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/izin") Home
                li
                    a(href="/izin/reportizinKaryawan") Report Izin
                li 
                    span(aria-current="page") Plafon Cuti 
block info 
    -var date = new Date
    .block 
        .btn_group
            button#getCuti.button(type='button') Data cuti
            button#ambilCuti.button(type="button") Ambil cuti
        .block
            -var date = new Date
            #cuti 
                p#isi
        //- .container2 
            .header
            .body 
                //- h3= 'Jata cuti tinggal ' + ((date.getMonth()+1)-sql[0].jumlah_cuti)
                -var date = new Date
                -var thn_depan = date.getFullYear()+1
                form#formCuti
                    p=date.getFullYear()+ '-' +thn_depan
                    .form-group 
                        p='Cuti yang sudah diambil: '+(sql.total_cuti-sql.jumlah_cuti)
                        p='Sisa cuti tinggal: ' + ((date.getMonth()+1)-sql.total_cuti)
                        p='Plafon periode ini: ' + sql.total_cuti
                        p=(date.getMonth()+1)
                    button(type='button') Carry Over
block script 
    script(src='/javascripts/header.js')
    script(src='/javascripts/plafon_cuti.js')