extends ../infographicBody
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/izin") Home
                li
                    span(aria-current="page") Report Izin
block append info
    -var month = ['All', 'Januari', 'Febuari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
    if role == 1
        .block 
            form#form
                div.form-group(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                    input(type="radio" name='toggle' value="Month" checked="true") 
                    label#toggle1(for="toggle" style="margin-bottom: 0px") Bulan
                    input(type="radio" name='toggle' value="Izin")
                    label#toggle2.checked(for="toggle" style="margin-bottom: 0px") Alasan
                    input(type="radio" name='toggle' value="Status")
                    label#toggle3.checked(for="toggle" style="margin-bottom: 0px") Status
                div.form-group(style="display: flex;align-items: start;justify-content: start;flex-direction: row;")
                    div.form-group
                        select#year(name="year")
                            option(value=0) All
                            for y in thn
                                option(value=y)=y
                    div.form-group(name="filter1")
                        select#alasan(name="alasan")
                            option(value=0) All
                            option(value=1) Izin 
                            option(value=2) Sakit 
                            option(value=3) Cuti
                            option(value=4) Datang Terlambat 
                            option(value=5) Pulang Awal 
                            option(value=6) Dinas/Tugas
                    div.form-group(name="filter2")
                        select#month(name="month") 
                            for m, i in month
                                option(value=i)=m
                    div.form-group(name="filter3")
                        select#status(name="status") 
                            option(value=0) All
                            option(value=1) Diproses
                            option(value=2) Approve 
                            option(value=3) Reject
        //- .block
        div(style="margin-top: 1.6em;display: flex; align-items: center; justify-content: center;")
            div.autocomplete
                input#karyawan(type="text", name="karyawan" autocomplete="off")
    if role == 2
        .btn_group
            a.button(href="formAbsen") Form Izin
            a.button(href="plafon_cuti") Plafon Cuti
        .block
            -var date = new Date
            #cuti 
                p#isi
            table.report
                tr.table_header
                    th Tanggal 
                    th Alasan 
                    th Dari
                    th Sampai
                    th Status
                    th Keterangan
                for item in sql 
                    tr 
                        td=item.tgl_izin.getDate()+' '+item.tgl_izin.toLocaleString('default', { month: 'long' })+', '+item.tgl_izin.getFullYear()
                        case item.alasan 
                            when 1: td Izin
                            when 2: td Sakit 
                            when 3: td Cuti
                            when 4: td Datang Terlambat 
                            when 5: td Pulang Awal 
                            when 6: td Dinas/Tugas
                        td=item.startJam+':'+item.startMenit
                        td=item.endJam+':'+item.endMenit
                        case item.status
                            when 1: td Diproses
                            when 2: td Approve
                            when 3: td Reject
                        td=item.ket_status
    if role == 1
        if sqlIzin.length > 0
            .block
                div(name='table1')
                    for year in sqlIzin
                        div.container2(name=year[0][0].tahun)
                            .header 
                                h2=year[0][0].tahun
                            .body
                                for entry in year
                                    table.report(id=entry[0].alasan name="alasan")
                                        case entry[0].alasan
                                            when 1: caption Izin
                                            when 2: caption Sakit 
                                            when 3: caption Cuti
                                            when 4: caption Datang Terlambat 
                                            when 5: caption Pulang Awal 
                                            when 6: caption Dinas/Tugas
                                        tr.table_header 
                                            th Nama
                                            th Tanggal 
                                            th Status 
                                            th Keterangan
                                            th Dari 
                                            th Sampai
                                            th File
                                        for item in entry
                                            tr(name= '-'+item.tahun+"-")
                                                td(value=item.nama name='nama')=item.nama
                                                td=item.hari + " " + item.bulanNama+', '+ item.tahun
                                                case item.status
                                                    when 1: td Diproses
                                                    when 2: td Approve
                                                    when 3: td Reject
                                                td=item.ket_status
                                                td=item.startJam+':'+item.startMenit
                                                td=item.endJam+':'+item.endMenit
                                                if item.surat == ''
                                                    td tidak ada file
                                                else 
                                                    td
                                                        div(id='surat_'+item.id value=item.id style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                                            button#getsurat(type="button" name="getsurat") Download
        else 
            h2 Belum ada izin
        .block
            div(name='table2')
                -var i=1
                for year in sqlMonths
                    div.container2(name=year[0][0].tahun)
                        div.header
                            h2=year[0][0].tahun
                        div.body
                            for entry in year 
                                table.report(id=entry[0].bulan name="month")
                                    caption='Tabel '+entry[0].bulanNama
                                    tr.table_header 
                                        th Nama
                                        th Tanggal
                                        th Alasan
                                        th Status
                                        th Keterangan
                                        th Dari 
                                        th Sampai
                                        th File
                                    for item in entry
                                        tr(name='-'+item.alasan+'-'+item.tahun+'-')
                                            td(value=item.nama name='nama')=item.nama
                                            td=item.hari+' '+item.bulanNama+', '+item.tahun
                                            case item.alasan
                                                when 1: td Izin
                                                when 2: td Sakit 
                                                when 3: td Cuti
                                                when 4: td Datang Terlambat 
                                                when 5: td Pulang Awal 
                                                when 6: td Dinas/Tugas
                                            case item.status
                                                when 1: td='Diproses'
                                                when 2: td='Approve'
                                                when 3: td='Reject'
                                            td=item.ket_status
                                            td=item.startJam+':'+item.startMenit
                                            td=item.endJam+':'+item.endMenit
                                            if item.surat == ''
                                                td tidak ada file
                                            else 
                                                td
                                                    div(id='surat_'+item.id value=item.id style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                                        button#getsurat(type="button" name="getsurat") Download
            div(name='table3')
                -var i=1
                for year in sqlStatus
                    div.container2(name=year[0][0].tahun)
                        div.header
                            h2=year[0][0].tahun
                        div.body
                            for entry in year 
                                table.report(id=entry[0].status name='status')
                                    case entry[0].status
                                        when 1: caption='Tabel Diproses'
                                        when 2: caption='Tabel Approve'
                                        when 3: caption='Tabel Reject'
                                    tr.table_header 
                                        th Nama
                                        th Tanggal
                                        th Alasan
                                        th Status 
                                        th Keterangan
                                        th Dari 
                                        th Sampai
                                        th File
                                    for item in entry
                                        tr(name='-'+item.alasan+'-'+item.tahun+'-')
                                            td(value=item.nama name='nama')=item.nama
                                            td=item.hari+' '+item.bulanNama+', '+item.tahun
                                            case item.alasan
                                                when 1: td Izin
                                                when 2: td Sakit 
                                                when 3: td Cuti
                                                when 4: td Datang Terlambat 
                                                when 5: td Pulang Awal 
                                                when 6: td Dinas/Tugas
                                            case item.status
                                                when 1: td='Diproses'
                                                when 2: td='Approve'
                                                when 3: td='Reject'
                                            td=item.ket_status
                                            td=item.startJam+':'+item.startMenit
                                            td=item.endJam+':'+item.endMenit
                                            if item.surat == ''
                                                td tidak ada file
                                            else 
                                                td
                                                    div(id='surat_'+item.id value=item.id style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                                        button#getsurat(type="button" name="getsurat") Download
block append script 
    script(src='/javascripts/header.js')
    script(src="/javascripts/kehadiran.js")
    script(src="/javascripts/reportIzin.js")
    if role !== 2
        script(src="/javascripts/getSurat.js")