extends ../infographicBody
block nav 
    .header
        block logout
            button#logout Logout
        if role == 1
            h2= 'Report Izin Semua Karyawan'
        if role == 2
            h2= 'Report Izin Karyawan ' + nama
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                    span(aria-current="page") Report Izin
block append info
    -var month = ['All', 'Januari', 'Febuari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
    if role == 1
        .block 
            form#form
                div.form-group(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                    input(type="radio" name='toggle' value="Month" checked="true") 
                    label#toggle1.checked(for="toggle" style="margin-bottom: 0px") Bulan
                    input(type="radio" name='toggle' value="Izin")
                    label#toggle2(for="toggle" style="margin-bottom: 0px") Alasan
                div.form-group(name="filter1" style="display: flex;align-items: center;justify-content: auto;flex-direction: row;")
                    select#year1(name="year1")
                        option(value=0) All
                        for y in thn
                            option(value=y)=y
                    select#alasan(name="alasan")
                        option(value=0) All
                        option(value=1) Izin 
                        option(value=2) Sakit 
                        option(value=3) Cuti
                    button#filterAlasan(type="button") Filter
                div.form-group(name="filter2")
                    select#year2(name="year2")
                        option(value=0) All
                        for y in thn
                            option(value=y)=y
                    select#month(name="month") 
                        for m, i in month
                            option(value=i)=m
                    button#filterMonth(type="button") Filter
        //- .block
            
    if role == 2
        .btn_group
            a.button(href="formAbsen") Form Izin
        .block
            table 
                tr
                    th Nama 
                    th Tanggal 
                    th Alasan 
                    th Dari
                    th Sampai
                    th Keterangan
                    th Status
                for item in sql 
                    tr 
                        td=item.nama
                        td=item.tgl_izin.getDate()+' '+item.tgl_izin.toLocaleString('default', { month: 'long' })+', '+item.tgl_izin.getFullYear()
                        case item.alasan 
                            when 1: td Izin 
                            when 2: td Sakit
                            when 3: td Cuti 
                        td=item.startJam+':'+item.startMenit
                        td=item.endJam+':'+item.endMenit
                        td=item.keterangan
                        case item.status
                            when 1: td Diproses
                            when 2: td Approve
                            when 3: td Reject
    if role == 1
        if sqlIzin.length > 0
            .block
                div(name='table1')
                    for year in sqlIzin
                        div.container2(id=year[0][0].tahun)
                            .header 
                                h2=year[0][0].tahun
                            .body
                                for entry in year
                                    table(id='-'+entry[0].alasan+'-')
                                        case entry[0].alasan
                                            when 1: caption Tabel Izin
                                            when 2: caption Tabel Sakit 
                                            when 3: caption Tabel Cuti
                                        tr.table_header 
                                            th Nama
                                            th Tanggal 
                                            th Keterangan
                                            th Status 
                                            th Dari 
                                            th Sampai
                                            th Surat
                                        for item in entry
                                            tr(name= '-'+item.tahun+"-")
                                                td=item.nama
                                                td=item.hari + " " + item.bulanNama+', '+ item.tahun
                                                td=item.keterangan
                                                case item.status
                                                    when 1: td='Diproses'
                                                    when 2: td='Approve'
                                                    when 3: td='Reject'
                                                td=item.startJam+':'+item.startMenit
                                                td=item.endJam+':'+item.endMenit
                                                td
                                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                                        button#getsurat(type="button" name="getsurat") Download
        else 
            h2 Belum ada izin
        .block
            div(name='table2')
                -var i=1
                for year in sqlMonths
                    div.container2(id=year[0][0].tahun)
                        div.header
                            h2=year[0][0].tahun
                        div.body
                            for entry in year 
                                table(id=entry[0].bulan)
                                    caption='Tabel '+entry[0].bulanNama
                                    tr.table_header 
                                        th Nama
                                        th Tanggal
                                        th Alasan
                                        th Keterangan
                                        th Status 
                                        th Dari 
                                        th Sampai
                                        th Surat
                                    for item in entry
                                        tr(name='-'+item.alasan+'-'+item.tahun+'-')
                                            td=item.nama
                                            td(style="text-align: center;")=item.hari
                                            case item.alasan
                                                when 1: td Izin
                                                when 2: td Sakit 
                                                when 3: td Cuti
                                            td=item.keterangan
                                            case item.status
                                                when 1: td='Diproses'
                                                when 2: td='Approve'
                                                when 3: td='Reject'
                                            td=item.startJam+':'+item.startMenit
                                            td=item.endJam+':'+item.endMenit
                                            td
                                                div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                                    button#getsurat(type="button" name="getsurat") Download
        //- .block
            div(name='table3')
                -var i=1
                for entry in sqlMonths
                    .container2
                        table(id="report2" + i++)
                            caption='Tabel '+entry[0].bulanNama
                            tr.table_header 
                                th Nama
                                th Alasan
                                th Keterangan
                                th Status 
                                th Dari 
                                th Sampai
                                th Surat
                                th Tahun
                            for item in entry
                                tr(name='-'+item.alasan+'-'+item.tahun+'-')
                                    td=item.nama
                                    case item.alasan
                                        when 1: td Izin
                                        when 2: td Sakit 
                                        when 3: td Cuti
                                    td=item.keterangan
                                    case item.status
                                        when 1: td='Diproses'
                                        when 2: td='Approve'
                                        when 3: td='Reject'
                                    td=item.startJam+':'+item.startMenit
                                    td=item.endJam+':'+item.endMenit
                                    td
                                        div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                            button#getsurat(type="button" name="getsurat") Download
                                    td=item.tahun
block append script 
    script(src="/javascripts/reportIzin.js") 